body, html {
    width: 210mm;
    height: 297mm;
    margin: 0 auto;
    padding: 0;
    -webkit-print-color-adjust: exact;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    -webkit-print-color-adjust: exact;
}


.page {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 210mm;
    height: 297mm; /* Exact A4 height */
    padding: 13mm;
    margin: 10mm; /* Center the page */
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #D3D3D3; /* Add visible border */
}

.subpage-w {
    flex: 1; /* Ensures content expands to fill space */
}

.footer {
    text-align: center;
    margin-top: auto; /* Pushes footer to the bottom */
}

.number-page {
    position: absolute;
    bottom: 40px;
    right: 50px;
}

@page {
    size: A4;
    margin: 0; /* Remove default margins for print */
}

@media print {
    html, body {
        width: 210mm;
        height: 297mm;
    }

    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: #fff !important;
        page-break-after: always;
    }

    .footer {
        position: relative;
        bottom: 0;
    }
}


